.authorizeForm {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.authorize-bg {
  background-image: url('@img/authorize/auth-bg.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1300px;
  padding-bottom: 300px;
}